@import 'atoms';

// navbar css
navbar{
    font-family: $san-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: $text-black-100;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid $ui-grey-border-100;
    display: flex;
    padding-top:32px;
    padding-bottom: 32px; 
}

@media screen and (max-width: 600px) {
    navbar{
        padding-top:24px;
        padding-bottom: 24px; 
    }
}

.navbar-items-left{
    display: inline-block;
    float: left;
}

.navbar-items-right{
    display: inline-block;
    float: right;
    margin-top: 10px;
}

// transparent navbar css
.navbar-transparent{
    background-color: black !important;
    border-bottom: 1px solid $ui-white-40 !important;
}

.navbar-transparent .navbar-link{
    color: white !important;
}

.navbar-transparent .navbar-dropdown span{
    color: white !important;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
    padding-left: 48px;
}
  
.dropdown-links {
    list-style: none;
    display: none;
    position: absolute;
    background-color: $ui-white-100;
    min-width: 180px;
    padding: 24px;
    z-index: 1;
    border: 1px solid $ui-grey-border-100;
    margin-bottom: 0px;
   left: 0px;
}

navbar a img{
    height: 32px;
}

@media screen and (max-width: 1024px) {
    navbar a img{
        height: 24px;
    }
}

@media screen and (max-width: 600px) {
    navbar a img{
        height: 20px;
    }
}

navbar ul li {
    padding-bottom: 24px;
}

navbar ul li:last-child{
    padding-bottom: 0px;
}
  
.navbar-dropdown:hover .dropdown-links {
    display: block;
}

navbar ul li a:hover{
    color: $rg-orange-100
}

.nav-desktop{
    display: contents;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: $rg-black-100;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius:10px
}

  .hamburger-menu-items{
    width: 100vw;
    max-width: 420px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -100%;
    z-index:4;
    background-color: $ui-white-100;
    border-left: 1px solid $ui-grey-border-100;
    overflow-y: scroll;
    transition: 0.5s;  
  }